.skip-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  left: 0px;
  width: auto;
  height: auto;
  background-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    line-height: 1.6;
    width: 100%;
    margin-top: 1em;
    font-size: 110%;
    margin-bottom: 1em;
}
h1{
    font-family: Roboto Condensed, sans-serif;
    color: #00274c;
    font-size: x-large;
    font-size: 200%;
    margin-top: 1em;
    margin-bottom: 1em;

}

h2{
    font-family: Roboto Condensed, sans-serif;
    color: #00274c;
    font-size: large;
    font-size: 140%;
    margin-top: 1em;
    margin-bottom: 1em;
}


.btn {
  display: inline-block;
  padding: 0.5em 1.2em;
  background: #FFCB05;
  color: #00274C;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0.5em;
  cursor: pointer;
  font-family: inherit;
  transition: background 0.2s;
}
.btn:hover, .btn:focus {
  background: #043885;
}
.why-this-resource h2
{
    font-family: Roboto Condensed, sans-serif;
    color: #00274c;
}

.why-this-resource ul{
    color: #192736;
}


.logo {
    width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #00274C;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  gap: 0.5em;
  list-style: none;
}

.container li {
    /* Optional: center nav in each grid cell */
  display: block;
  text-align: center;
  margin: 0.3em 0;

}

.nav-link {
    color: #fff;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 0.7em 2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: 
        background 0.2s,
        box-shadow 0.2s,
        color 0.2s,
        border-color 0.2s;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

/* Hover/Focus: button style */
.nav-link:hover, .nav-link:focus {
    background: #FFCB05;
    color: #00274C;
    border-color: #FFCB05;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* ACTIVE PAGE: marked with active class and aria-current=page */
.nav-link.active[aria-current="page"] {
    background: #FFCB05;
    color: #00274C;
    border-color: #FFCB05;
    box-shadow: 0 2px 8px rgba(0,0,0,0.11);
    outline: 2px solid #FFCB05;
    /* (can also just use a different background/border as desired) */
}

/* Remove underline if there's any inherited */
.nav-link {
    text-decoration: none;
}

/* Remove default list styles */
.container {
    margin: 0;
    padding: 0;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.central_hub {
    grid-column: 1 / span 4;

}

.central_hub_text{
    grid-column: 1 / span 4;
    color: #192736;
}

.video{
    grid-column: 1 / span 4;

}

.video iframe{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.start-here-img {
    grid-column: 1 / span 4;
}

.start-here-img img{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.why-this-resource, .start-here-grid, .popular-resource, .career-connect-grid {
    grid-column: 1 / span 4;
}
/* Interview Page */
.success_section, .title1, .success_text {
    grid-column: 1 / span 4;
}

img{
    grid-column: 1 / span 4;
    width: 100%;
}

.section1, .section2, .section3, .section4, .section5, .section6{
    grid-column: 1 / span 4;
}
footer {
  background: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  width: 100%;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 2em 1em 0 1em;
  gap: 1.5em;
  width: 100%;
}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  min-width: 140px;
  width: 180px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-info {
  color: #222;
  font-size: 1.1em;
  min-width: 220px;
  line-height: 1.5;
  text-align: center;
}

.footer-info address {
  font-style: normal;
  margin-top: 1em;
}

.footer-strip {
  width: 100%;
  height: 18px;
  background: #ffcb05;
  margin-top: 2em;
}

@media screen and (min-width: 700px){
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5em;
        padding-top: 2em;
        padding-bottom: 2em;
  }
  .container li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
  }
    .central_hub{
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .central_hub_text{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;;
    }
    .video {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    .why-this-resource{
        grid-column: 3 / span 2;
    }
    .start-here-img {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        width: 90%;
    }
    .start-here-grid{
        grid-column: 1 / span 2 ;
        grid-row: 4 / span 1;
    }
    .popular-resource{
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
    }
    .mentoship_img{
        grid-column: 3 / span 2;
        grid-row: 4 / span 2;
        width: 90%;
    }

    .section2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        gap: 1em;
        align-items: center;
    }
    .title2{
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: center;
    }
    .list_1,.containerlist2 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .career_fair,.soc_img{
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    .section3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        gap: 1em;
        align-items: center;
    }
    .title_3 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: center;
    }
    .list3{
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    .star_img,.cn_img{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .section3 .review{
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
    }

    .section4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        gap: 1em;
        align-items: center;
    }
    .title_4 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: center;
    }
    .list_4{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .resource_img,.mac_img{
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }

    .section5 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        gap: 1em;
        align-items: center;
    }
    .title_5 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: center;
    }
    .list_5{
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    .cbq_img{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    .section0 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
        gap: 1em;
    }
    .secontion0 .title0 {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: center;
    }
    .containerlist{
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    .img1{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
    .footer-grid {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        gap: 2em;
        padding: 2em 2em 0 2em;
    }
    .footer-logo {
        grid-column: 1; 
        grid-row: 1;
        text-align: left;
    }
    .footer-info {
        grid-column: 2;
        grid-row: 1;
        min-width: 300px;
        text-align: left;
        margin-top: 0;
    }

}

